{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Basic Flask{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Witaj,
        {% if current_user.is_authenticated %}
            {{ current_user.username }}
        {% else %}
            nieznajomy
        {% endif %}!
    </h1>
    {% if not known %}
    <p>Miło mi cię poznać!</p>
    {% else %}
    <p>Miło cię znowu widzieć!</p>
    {% endif %}
    <p>Lokalna data i czas: {{moment(current_time).format('LLL') }}</p>
    <p>To było: {{moment(current_time).fromNow(refresh=True) }}</p>
</div>
{{ wtf.quick_form(form) }}
{% endblock%}
